* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: rgb(148, 12, 80);
	display: flex;
	flex-direction: column;
	align-items: center;
	.title {
		align-items: center;
		display: flex;
		font-size: 80px;
		color: white;
		margin: 100px;
		font-family: 'Italianno', cursive;
		.titleHeart {
			margin-left: 10px;
			height: 60px;
		}
	}
	.answer {
		justify-content: center;
		display: flex;
		color: white;
		font-size: 50px;
		height: 100px;
		width: 1000px;
		font-family: 'Pacifico', cursive;
		padding: 100px;
	}
}
button {
	display: none;
}
